.page {
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1023.99px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 767.99px;
    }
}

@media screen and (max-width: 425px) {
    .page {
        max-width: 424.99px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 329.99px;
    }
}