.place__image {
    grid-row: 2;
    grid-column: 1;
    max-width: 460px;
    display: flex;
    justify-self: start;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}


@media screen and (max-width: 874px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 724px) {
    .place__image {
        max-width: 300px;
    }
}

@media screen and (max-width: 574px) {
    .place__image {
        object-fit: cover;
        max-width: 320px;
        margin-bottom: 32px;
    }
}