.header {
    display: flex;
    flex-direction: row;
    max-width: 1184px;
    height: 52px;
    justify-content: space-between;
    align-items: end;
    margin: 28px auto 0;
    position: relative;
    top: 28px;
    left: 48px;
}