.footer__copyright {
    margin: auto 0;
    width: 186px;
    height: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    color: #FFFFFF;
}

@media screen and (max-width: 650px) {
    .footer__copyright {
        height: 14px;
        line-height: 14px;
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        height: 14px;
        line-height: 14px;
        margin: 0;
    }
}