.lead__image {
    width: 100%;
    max-height: 615px;
    margin: 64px 0 0;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin: 56px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 767.99px;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        max-width: 424.99px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {}
}