.intro {
    display: flex;
    flex-direction: column;
    /*убрала ширину блока, если у меня опять не получилось очень Вас прошу скиньте приложение или расширение в котором отобразится скролл, в котором у вас отображается он, у мня не видно ни через инспектор, ни через сайты которые проверяют на адаптивность очень Вас прошу, мне для будущего раза понадобится, пожалуйста*/
    max-width: 690px;
    margin: 92px 0 0 148px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px 0 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 93.75vw;
        margin: 88px 0 0 24px;
    }
}

@media screen and (max-width: 500px) {
    .intro {
        max-width: 93.75vw;
        margin: 88px 0 0 16px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin-top: 64px;
    }
}