.cover__background {
    background-image: url(../../../images/__background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1
}

.cover__background ::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.3s ease;
}



.cover__background:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        min-height: calc(740px - 100px);
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .cover__background {}
}

@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 200px;
    }
}