.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto 24px;
}


@media screen and (max-width: 1024px) {
    .footer {
        max-width: min(93.6%, 928px);
        margin: 0 auto 22px;
    }
}


@media screen and (max-width: 685px) {
    .footer {
        margin-left: 16px;
        margin-bottom: 24px;
        max-width: 186px;
        flex-direction: column;
        align-content: space-between;
    }
}