.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
    max-width: 1184px;
    max-height: 18px;
    margin: 0 auto 24px;
}


@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        max-height: 20px;
        margin: 0 auto 22px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin: 0 auto 18px;
        max-height: 24px;
    }
}

@media screen and (max-width: 625px) {
    .footer {
        margin-left: 16px;
        margin-bottom: 24px;
        width: 186px;
        min-height: 310px;
        flex-direction: column;
        align-content: space-between;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin-left: 16px;
        margin-bottom: 24px;
        width: 186px;
        min-height: 310px;
        flex-direction: column;
        align-content: space-between;
    }
}