.place__website {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 456px;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        width: 288px;
        margin: 0 auto 32px;
        justify-content: start;
    }
}